[submodule ".vim/pack/sbell/start/badwolf"]
	path = .vim/pack/sbell/start/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule ".vim/pack/sbell/start/nerdtree"]
	path = .vim/pack/sbell/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/sbell/start/ale"]
	path = .vim/pack/sbell/start/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/pack/sbell/start/gundo"]
	path = .vim/pack/sbell/start/gundo
	url = http://github.com/sjl/gundo.vim.git
